<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">SEASAM MINING AND EXPLORATION LIMITED</p>
            </div>
        </div>
    </header>
    <!-- Section -->

 <section class="py-3">
        <main class="container">
  <div class="p-2 p-md-3 mb-4 rounded text-body bg-body-secondary row">

<div class="row g-4">
    <div class="col-md-8">
login
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-2 mb-3 bg-body-tertiary rounded">
          <a class="align-items-start link-body-emphasis text-decoration-none" href="{% url 'about' %}">
          <h4 class="fst-italic">Contact Us</h4>
          </a>
        </div>
          <div class="card mb-3">

                                <div class="badge bg-success text-white position-absolute" style="top: 0.9rem; right: 0.9rem"> Drop us a line!</div>
                                <img class="card-img-top" src="{% static 'contact/contactus.JPG' %}" alt="Card image cap">
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                         {{ form.as_p }}

                                        <button type="submit" class="btn btn-outline-secondary text-center" style="width: 100%" >SEND</button>
                                    </form>

                                </div>
                                </div>



        <div class="p-4">
          <h4 class="fst-italic">Online Handles</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  </div>
        </main>
 </section>


<!-- FOOTER -->
<hr>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 SEASAM Mining & Exploration, Limited. &middot; Tel: +234 802 307 0801, +27 79 246 6952 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock %}