{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Note List</h1>
                <p class="lead fw-normal text-white-50 mb-0">SEASAM MINING AND EXPLORATION LIMITED</p>
            </div>
        </div>
    </header>
    <!-- Section -->

 <section class="py-3">

     <main class="container">
         <div class="container col-md-5">
                 <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-secondary">Add Note</button>
                 </form>
             </div>
     <br>
     <hr>
         <div class="p-2 p-md-3 mb-4 rounded text-body bg-body-secondary row">
                    <div class="card">
                        <div class="card-header">
                            {% if notes %}
                            <div class="row">
                                <div class="fw-bolder col-md-3">
                                    Title
                                </div>
                                <div class="fw-bolder col-md-2">
                                    Date Created
                                </div>
                                <div class="fw-bolder col-md-7">
                                    Content
                                </div>
                            </div>

                        </div>
                          <ul class="list-group list-group-flush">
                              {% for note in notes %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col col-md-3">
                                        <a class="text-decoration-none fw-bold" href="#">{{ note.title }}</a>
                                    </div>
                                    <div class="col col-md-2">
                                        {{note.created}}
                                    </div>
                                    <div class="col col-md-7">
                                        {{note.content|slice:"100" }}
                                    </div>
                                </div>
                            </li>
                              {% endfor %}

                          </ul>
                        {% endif %}
                    </div>



         </div>
     </main>
 </section>


<!-- FOOTER -->
<hr>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 SEASAM Mining & Exploration, Limited. &middot; Tel: +234 802 307 0801, +27 79 246 6952 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock %}