<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">SEASAM MINING AND EXPLORATION LIMITED</p>
            </div>
        </div>
    </header>
    <!-- Section -->

 <section class="py-3">
        <main class="container">
  <div class="p-2 p-md-3 mb-4 rounded text-body bg-body-secondary row">

<div class="row g-3">
    <div class="col-md-8">

      <article class="blog-post">
           <div class="row justify-content-center">
          <div class="col-md-5">
              <img class="rounded" src="{% static 'image/about/logoSEASAM.jpg' %}" alt="">
              <small class="fst-italic small">Innovation, Collaboration, and Commitment to Sustainability <strong class="text-success">. . .<i class="bi bi-minecart-loaded"></i></strong></small>
          </div>
          <div class="col"><span class="lead fw-bold">SEASAM is a private Limited Liability Company</span>, established in Nigeria and licensed under law to
                        operate in the solid mineral sector. With deep-rooted network presence across the African continent SEASAM is positioned for transparent, sustainable and responsible rear earth upstream processing.
                        <br><br>
                        <span class="fw-bold"> The story of SEASAM epitomes the desire for innovative and energetic drive towards prosperity and international
                        prominence.</span><br><br>Welcome to the SEASAM Mining & Exploration Company, we look forward to a profitable venture with you. Do not hesitate to contact us by filling the Contact Form or give us a call for any inquiries or requisition you may have.

                    </div>
           </div>
          <hr>
          <div>
              <p class="justify-content"> Established in 2024, SEASAM is poised to advance the industry practice in Africa from an archaic artisanal drill to a highly mechanized
                        and innovative system that guarantees the host communities, the local government and all stakeholders a good return on their investments.
                        <br><br>
                        The hallmark of our ingenuity is anchored on our collaborative skills with our foreign and technical partners, bridging the technological and innovative initiatives that are present in other parts of the world to improve upstream activities of the solid mineral sector.
                        <br><br>
                        While we commit to exploration using the best practices in innovations and
                        sustainable solutions in green mining, highlighting its benefits for a more responsible and sustainable future
                        for the mining industries, the host communities and the globe as a whole. <br><br>
                        We do not take our eyes off the ball - the profitability of the venture: without which there is no mining, there is no technological advancement
                        there is no professionalism and no investment. <br><br>
                        The balance of these is essential to the sustainability of the ecosystem.
                    </p>
                    <p>
                        Our mantra is: Through innovation, collaboration, and commitment to sustainability, we will transform the mining sector's practices to protect the environment, conserve resources, and support the well-being of communities.<br><br>
                        By embracing these technologies and practices, the industry can ensure a prosperous and sustainable future for generations to come.
                        <br><br>
                        Welcome to the SEASAM Mining & Exploration Company, we look forward to a profitable venture with you.
                    </p>
          </div>
      </article>
        <article>
        <hr>


      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
      </nav>
      </article>
    </div>

    <div class="col-md-4">
        <div class="p-3 mb-3 bg-body-tertiary rounded">
          <a class="align-items-start link-body-emphasis text-decoration-none" href="{% url 'about' %}">
          <h4 class="fst-italic">Contact Us</h4>
          </a>
        </div>
        <div class="position-sticky" style="top: 1rem;">
          <div class="card mb-3">

                                <div class="badge bg-success text-white position-absolute" style="top: 0.9rem; right: 0.9rem"> Drop us a line!</div>
                                <img class="card-img-top" src="{% static 'contact/contactus.JPG' %}" alt="Card image cap">
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                         {{ form.as_p }}

                                        <button type="submit" class="btn btn-outline-secondary text-center" style="width: 100%" >SEND</button>
                                    </form>

                                </div>
                                </div>



        <div class="p-4">
          <h4 class="fst-italic">Online Handles</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  </div>
        </main>
 </section>


<!-- FOOTER -->
<hr>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 SEASAM Mining & Exploration, Limited. &middot; Tel: +234 802 307 0801, +27 79 246 6952 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock %}