<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block link %}<link href="{% static 'css/contract.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">eContract Services</h1>
                <p class="lead fw-bolder text-white-60 mb-0">SEASAM MINING AND EXPLORATION LIMITED</p>
            </div>
        </div>
    </header>
    <!-- Section -->
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-9 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Designed for Confidentiality and Increased Opportunity</h1>
      <h3 class="fw-normal text-muted mb-3">ensuring you get paid <i class="bi bi-arrows-angle-contract"></i></h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="btn btn-primary" href="#">
          Contact Us
          <i class="bi bi-chevron-double-right"></i>
        </a>
        <a class="btn btn-secondary" href="#">
          Learn More
          <i class="bi bi-chevron-double-right"></i>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
    <div class="container">
        <div class="col col-md-12">
            <div class="container py-2">
                <div class="bg-body-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden py-2" style="border-radius: 40px 40px 0 0;">
                <div class="my-3 p-3">
                    <h2 class="display-5 fw-bold">Understanding eContract</h2>

                </div>
                <div class="bg-body shadow-sm mx-auto " style="width: 80%; min-height: 300px; border-radius: 21px 21px 0 0;">
                    <div class="container text-start my-5 p-3">
                        <p class="lead">eContract, also known as an electronic contract, refers to a contract that is made and executed electronically.
                        In recent years, with the development of information technology, eContracts have become increasingly popular and are widely
                        used in various fields, such as online shopping, employment contracts, property leases, loan agreements, insurance policies,
                        etc.</p>
                        <p>
                            From a legal perspective, eContracts hold the same weight as their paper counterparts. For an eContract to be considered legally binding,
                            it must meet certain criteria: offer and acceptance, mutual intent to enter the agreement, and consideration, which typically involves the
                            exchange of value. These are the same principles that apply to traditional paper contracts.
                        </p>
                        <p>
                            The use of digital signatures further strengthens the legality of eContracts. A digital signature uses encryption technology to verify the
                            identity of the parties involved and confirm they consent to the contract terms. This digital authentication is widely recognized and enforced
                            by laws such as the U.S. Electronic Signatures in Global and National Commerce Act (ESIGN) and the Uniform Electronic Transactions Act (UETA).
                            A lot of other countries have similar laws that strengthens the validity of the eContract.
                        </p>
                        <p>
                            It's important to note, however, that not all financial transactions can be handled electronically. Certain high-risk agreements may still
                            require traditional signatures and hard copies for added security. It's crucial for financial firms and parties concerned to understand and
                            respect the boundaries of eContract use and to consult with legal counsel when necessary.
                        </p>
                        <p class="lead">
                            Lastly, while eContracts allow for easier storage and access, they still must comply with data privacy laws, such as the General Data Protection
                            Regulation (GDPR) in the EU, or the California Consumer Privacy Act (CCPA) in the U.S. Brokers and financial service providers must ensure that
                            their digital contract practices adhere to these regulations and any other jurisdiction-specific data protection laws that may apply.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            </div>
            <div class="container py-2">
                <div class="bg-success-subtle me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius: 40px 40px 0 0;">
                <div class="my-3 py-3">
                    <h2 class="display-5 text-success fw-bold">Benefits of eContracts</h2>

                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; min-height: 300px; border-radius: 21px 21px 0 0;">
                    <div class="container py-3 text-start my-5">
                        <p class="lead">
                            There are many advantages of eContracts over traditional paper contracts, such as:

                        </p>
                        <div class="container ">
                             <ul style="padding-bottom: 10px;">
                        <li>
                            eContracts are more efficient and convenient. All you need is a computer and an internet connection to create and sign an eContract. This saves a lot of time and effort compared to the process of drafting, printing, signing, and scanning paper contracts.
                        </li>

                        <li>
                            eContracts are more secure. Electronic signatures are legally binding in many countries and are much harder to forge than handwritten signatures. In addition, eContracts can be encrypted and stored securely online, making them less susceptible to tampering or loss.
                        </li>
                        <li>
                            eContracts are more eco-friendly. By eliminating the need for paper, eContracts help save trees and reduce pollution.
                        </li>
                        <li>
                            eCntracts can be easily shared and accessed. With an eContract, both parties can access and view the contract anytime, anywhere. This is especially useful if the contract needs to be modified or updated.
                        </li>
                    </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

</main>

<!-- FOOTER -->
<hr>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 SEASAM Mining & Exploration, Limited. &middot; Tel: +234 802 307 0801, +27 79 246 6952 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock content %}

