<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">LOGIN</h1>
                <p class="lead fw-normal text-white-50 mb-0">SEASAM MINING AND EXPLORATION LIMITED</p>
            </div>
        </div>
    </header>
    <!-- Section -->

     <section class="py-4">
            <div class="row justify-content-center ">
                <div class="col-md-3">
                    <div class="card mb-2">
                        <div class="badge bg-success text-white position-absolute" style="top: 0.9rem; left: 0.9rem"> Enter your details to login!</div>
                        <img class="card-img-top" src="{% static 'contact/vim.jpg' %}" alt="image LOGIN">
                        <div class="card-body">
                            <form method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-outline-success text-center" style="width: 100%" >LOGIN</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>


<!-- FOOTER -->
<hr>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 SEASAM Mining & Exploration, Limited. &middot; Tel: +234 802 307 0801, +27 79 246 6952 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock %}