
{% load static %}

<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static '/image/logo.JPG' %}" alt="SEASAM" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logistics' %}">Logistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contract' %}">eContract</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'minerals' %}">Mineral Brochure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'map' %}">Interactive Map</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            R&D
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mineral' %}">Mineral Deposit NIGERIA</a></li>
            <li><a class="dropdown-item" href="{% url 'ne' %}">Mineral Deposit North-East</a></li>
            <li><a class="dropdown-item" href="{% url 'se' %}">Mineral Deposit South-East</a></li>
            <li><a class="dropdown-item" href="{% url 'mb' %}">Mineral Deposit Middle-Belt</a></li>
            <li><a class="dropdown-item" href="{% url 'ss' %}">Mineral Deposit South-South</a></li>
            <li><a class="dropdown-item" href="{% url 'sw' %}">Mineral Deposit South-West</a></li>
            <li><a class="dropdown-item" href="{% url 'nw' %}">Mineral Deposit North-West</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tradings
          </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">LBMA - Prices</a></li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'price' %}">API - Prices</a></li>
      </ul>
        </li>
        {% endif %}

         <li class="nav-item">
          <a class="nav-link btn btn-warning" href="#"><i class="bi bi-person-circle"></i> {{ user.first_name }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link secondary" href="#"><i class="bi bi-person-circle"></i></a>
        </li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}"  style="display: inline;">
        {% csrf_token %}
        <button class="btn btn-outline-warning" type="submit">Logout</button>
      </form>
      {% else %}
      <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
      {% endif %}
      &nbsp;&nbsp;

      <form method="POST" action="{% url 'search' %}" class="d-flex" role="search">{% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>